<div class="MessagePage">
    <HeaderNav></HeaderNav>
    <main class="messagePage-main">

        <div class="messagePage-detail">
            <div class="messagePage-detail-title">
                <div class="title-box">
                    <div class="title-type">购买</div>
                    <div class="title-icon"></div>
                    <div class="title-type-id">雪花肥牛</div>
                </div>
                <div class="title-status">
                    已取消
                </div>
            </div>
            <div class="messagePage-detail-content">
                <div class="content-detail">
                    <p>订单号 : 1573797225841</p>
                    <p>交易数量 : 2409400 N 金币</p>
                    <div class="content-date">
                        <div class="content-date-box">
                            <p>2019/11/15 13:34:08</p>
                            <p>订单已取消</p>
                        </div>
                        <div class="content-btn">
                            <div class="right-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="messagePage-detail">
            <div class="messagePage-detail-title">
                <div class="title-box">
                    <div class="title-type">购买</div>
                    <div class="title-icon"></div>
                    <div class="title-type-id">雪花肥牛</div>
                </div>
                <div class="title-status">
                    已取消
                </div>
            </div>
            <div class="messagePage-detail-content">
                <div class="content-detail">
                    <p>订单号 : 1573797225841</p>
                    <p>交易数量 : 2409400 N 金币</p>
                    <div class="content-date">
                        <div class="content-date-box">
                            <p>2019/11/15 13:34:08</p>
                            <p>订单已取消</p>
                        </div>
                        <div class="content-btn">
                            <div class="right-arrow"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>