@import "../../style/common.scss";
.AddBankCard {
  font-size: rem(16);

  .addBankCard-main {
    width: 100%;
    padding: 0 rem(10);
    box-sizing: border-box;
    font-size: rem(14);

    .addBankCard-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: rem(20);
      padding: rem(10) 0;
      box-sizing: border-box;
      border-bottom: rem(1) solid #c6c6c6;
      color: $gray;

      input {
        border: none;
        text-align: right;
        background: none;
      }

      input::-webkit-input-placeholder {
        color: $gray;
        //font-weight: bold;
      }
    }
    .remind {
      text-align: left;
      margin-top: rem(5);
      font-size: rem(12);
      color: red;
      p{
        padding: rem(5) 0;
      }
    }
    .submit {
      width: 80%;
      margin: 0 auto;
      margin-top: rem(30);
      padding: rem(10) 0;
      border-radius: rem(5);
      color: #fff;
      font-size: rem(16);
      font-weight: bold;
      background-color: $blue;
    }
  }
}
