<div class="SetCollectionPage">
    <HeaderNav></HeaderNav>

    <main class="setCollectionPage-main">
        <router-link tag="div" v-for="item in setCollectionData" :key="item.name" :to="{ name: item.link }" class="setCollection-list">
            <div class="list-title">
                <img class="list-title-icon" :src="item.src" alt="" />
                <div class="list-title-name">{{item.name}}</div>
            </div>
            <div class="right-arrow"></div>
        </router-link>
    </main>

    <modal-alert v-if="!setPasswordAlert" :text='"设置交易安全码"'>
        <template #btn>
            <div class="setPassword-box">
                <div class="setPassword-title">
                    交易安全码
                </div>
                <input type="password" class="setPassword-input" maxlength="6" placeholder="请填写交易安全码"
                    v-model="SetSafeCodeData.safeCode" />
                <div class="password-show-icon" @click="passwordShow"></div>
            </div>
            <div class="setPassword-content">
                <p>交易安全码格式为六位纯数字</p>
                <p>为确保信息安全，交易安全码设定完成后将无法修改</p>
            </div>
            <div class="alert-btn-box">
                <div class="alert-btn" @click="backPage">取消</div>
                <div class="alert-btn alert-btn-ok" @click="closeAlert">确定</div>
            </div>
        </template>
    </modal-alert>
</div>