@import "../style/common.scss";
.footer-nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: rem(5) 0;
  position: fixed;
  bottom: 0;
  white-space: nowrap;
  font-size: 12px;
  color: $gray;

  &-icon {
    width: rem(35);
    height: rem(45);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    // background-color: brown;
  }
  .TradingCenterBuy {
    width: rem(30);
    height: rem(30);
    background-image: url("../assets/images/icon/tradingCenter-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12px;
  }
  .AllOrder {
    width: rem(30);
    height: rem(30);
    background-image: url("../assets/images/icon/order-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12px;
  }
  .OtherPage {
    width: rem(30);
    height: rem(30);
    background-image: url("../assets/images/icon/other-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12px;
  }
  .iconSelect {
    filter: invert(8%) sepia(140%) saturate(9079%) hue-rotate(-152deg) brightness(152%) contrast(74%);
  }
}
