<div class="TradingBuyPage">
    <HeaderNav></HeaderNav>
    <div class="buy-detail" v-if="buyMerchantData.merchantNickName">
        <div class="buy-detail-header">
            <div class="buy-detail-icon"></div>
            <div class="buy-detail-name">{{buyMerchantData.merchantNickName}}</div>
        </div>
        <div class="buy-detail-list">
            <div class="price">
                <div class="price-name">单价</div>
                <div class="price-value">{{buyMerchantData.realPrice}} / USDT</div>
            </div>
            <div class="range">
                <div class="range-name">交易范围</div>
                <div class="range-value">{{buyMerchantData.minAmount}}~{{buyMerchantData.maxAmount}}</div>
            </div>
            <div class="range">
                <div class="range-name">剩余数量</div>
                <div class="range-value">{{buyMerchantData.usableAmount}}</div>
            </div>
            <div class="amount">
                <div class="amount-name">购买数量</div>
                <div class="amount-value">
                    <div v-for="(item, i) in autoAmountBtn" @click="autoAmount(i)">{{item.amount}}</div>
                </div>
                <input type="text" class="amount-input" placeholder="请输入数量" @keyup="calc()" v-model="amount">
            </div>
            <div class="total">
                <div class="total-name">总价</div>
                <div class="total-value">{{total}} CNY</div>
            </div>
        </div>
        <div class="submit" @click="buySubmit">确 定</div>

        <div class="ps" v-if='buyMerchantData.message !== null'>备注 : {{buyMerchantData.message}}</div>
    </div>


</div>