@import "../../style/common.scss";
.TradingCenter {
  width: 100%;

  .trading-information {
    font-size: 14px;
    color: $gray;
    display: flex;
    flex-flow: column;

    &-content {
      display: flex;
      justify-content: space-around;
    }

    &-remind {
      font-size: 12px;
    }
  }

  .trading-nav {
    width: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: rem(10);
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: rem(3);

    &-select {
      position: absolute;
      color: $blue;
      display: flex;
      align-items: center;
      .select-bar {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(7) rem(4) 0 rem(4);
        border-color: $blue transparent transparent transparent;
        margin-left: rem(10);
      }
    }

    &-btn {
      display: flex;
      margin: 0 auto;
      font-size: 15px;
      font-weight: bold;

      .trading-buy{
        padding: rem(7);
        border: rem(1) solid $blue;
        border-radius: rem(3) 0px 0px rem(3);
        color: $blue;
      }

      .trading-sell{
        padding: rem(7);
        border: rem(1) solid $blue;
        border-radius: 0px rem(3) rem(3) 0px;
        color: $blue;
      }

      .select {
        color: #fff;
        background-color: $blue;
      }
    }
  }
  // .trading-detail {
  //   display: flex;
  //   flex-flow: column;
  //   margin-bottom: rem(10);

  //   &-title {
  //     display: flex;
  //     flex-flow: row;
  //     align-items: center;
  //     justify-content: space-between;
  //     background-color: #fff;
  //     padding: rem(5) rem(10);
  //     .title-box {
  //       display: flex;
  //       align-items: center;
  //     }
  //     .title-icon {
  //       width: rem(15);
  //       height: rem(15);
  //       background-color: aqua;
  //       margin-right: rem(10);
  //     }
  //     .title-content {
  //       font-size: rem(12);
  //       color: #c4c4c4;
  //     }
  //   }
  //   &-content {
  //     display: flex;
  //     justify-content: space-between;
  //     margin-top: rem(4);
  //     padding: rem(10);
  //     box-sizing: border-box;
  //     background-color: #fff;

  //     .content-detail {
  //       display: flex;
  //       flex-flow: column;
  //       align-items: flex-start;
  //     }
  //     .content-name {
  //       font-size: rem(24);
  //       font-weight: bold;
  //       span {
  //         font-size: rem(15);
  //       }
  //       ~ p {
  //         color: #c4c4c4;
  //       }
  //     }
  //   }
    // .content-btn {
    //   display: flex;
    //   flex-flow: column;
    //   justify-content: space-between;
    //   .pay-icon-box {
    //     display: flex;
    //     justify-content: flex-end;
    //   }
    //   .pay-icon {
    //     width: rem(15);
    //     height: rem(15);
    //     background-color: brown;
    //   }
    //   .sell-btn {
    //     // width: 70px;
    //     padding: 7px 35px;
    //     border: 1px solid $blue;
    //     border-radius: 3px;
    //     color: #fff;
    //     background-color: $blue;
    //   }
    // }
  // }
}
